<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href='/getFriends'>Go to getFriends</a>
    <h2> Enter friends' email addresses </h2>
    <form action='/submitUserOrder' method='post'>
        <% for(var i = 0; i < foods.length; i++) { %>
            Food: <%=foods[i] %> Price: <%=prices[i]%> <input type="checkbox" name="food<%=i%>" value="1"> <br>
        <% } %>
    <input id="button" type='submit' value='Submit' style="font-size: 2em"> 
    </form>
  </body>
</html> 