 h1 Create New Trip
  form#formOrder(name="order",method="post",action="order")
    input#Home(type="text", placeholder="home", name="home")
    br
    br
    input#Restaurant(type="text", placeholder="Restaurant", name="food")
    br
    input#City(type="text", placeholder="City", name="city")
    br    
    button#btnSubmit(type="submit") Order