<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Thank you for placing your order! We will send you an email in 10 minutes with the full order. Thanks! </h2>
  </body>
</html> 